<p>Thanks for buying!</p>
Thanks for buying our books!
<%= link_to "Download your ebook", "https://s3.amazonaws.com/spider-oak/Hive+Startup+Guide+-+Linux.pdf" %> 
<a href="https://s3.amazonaws.com/spider-oak/Hive+Startup+Guide+-+Linux.pdf"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>
